<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <%- include('../partials/header', { title: 'Desi Mini Desserts', price: '$48/Dozen', header: 'bs-minidessert-header' }); %>
    <div class="bs-page-content">
      <h3>Desi Fusion Mini Desserts</h3>
      <div class="bs-description">Desserts inspired by some of my favorite Indian sweets, all served in 3oz verrines.</div>
      <%- include('../partials/menugrid'); %>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>
