<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <%- include('../partials/header', { title: 'Mini Desserts' }); %>
    <p>&nbsp;</p>
    <h3>Mini Desserts Menu</h3>
    <div class="bs-description">An assortment of some of our most popular desserts as well as our indian inspired desserts, all served in clear dessert cups. Almost all the desserts can be made egg free, and some gluten free as well. Great for weddings, bridal showers, birthdays and graduations.</div>
    <p>&nbsp;</p>
    <%- include('../partials/menugrid'); %>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>