<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <%- include('../partials/header', { title: 'Shortbreads', price: '$24/Dozen', header: 'bs-shortbread-header' }); %>
      <div class="bs-page-content">
        <h3>Shortbreads Menu</h3>
        <div class="bs-description">
          Our take on traditional Scottish shortbreads made with european style butter. Perfect for when you need a little coffee or tea break. Our shortbreads make great gifts and favors as well!
        </div>
        <%- include('../partials/menugrid'); %>
      </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>