<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <%- include('../partials/header', { title: 'Confections & Pastries', price: '', header: 'bs-tables-header' }); %>
      <div class="bs-page-content">
        <h3>Confections &amp; Pastries</h3>
        <div class="bs-description">
          Wow your guests with a stunning selection at your next get together! Choose from an assortment of any of our mini desserts, shortbread cookies, assorted Macarons, mini tarts, and cream puffs.
        </div>
        <%- include('../partials/menugrid'); %>
      </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>
